<div class="row">
  <div class="col-md-1">
    <%= label_tag :uuid %><br>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <span class='form-control gray-lighter'><%= uuid %></span>
    </div>
  </div>
</div>