<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <% moves.each do |m| %>
          <li class="list-group-item list-group-item-info"><%= m %></li>
      <% end %>
    </ul>
  </div>
</div>