// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.player_moves{
    height:200px; 
    width:255px;
}
.adversary_move{
    display: none;
}