<!DOCTYPE html>
<html>
  <head>
    <title>Rock / Paper / Scissors / Lizard / Spock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Rock / Paper / Scissors / Lizard / Spock</h1>
    <%= yield %>
  </body>
</html>
